:root{
    --bg-color: hsl(0, 0%, 0%);
    color: white;
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.hue-shift-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 1rem;
    margin: 1rem;
    height: fit-content;
}



.weather-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* place-items: center; */  
    /* gap: 5px; */
}

.circle{
    display: flex;
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: orange;
    border-radius: 100%;
    justify-content: center;
    align-items: center;

}

.circle::before, .circle::after{
    content: "";
    background-color: inherit;
    position: absolute;
    width: 4.1rem;
    height: 4.1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index:-100;
    filter: blur(10px);
    animation: spin 1s infinite ease-in;
}
#draggable{
    position: absolute;
    z-index: 1;
}

#sine{
    position: absolute;
    margin:auto;
    top: 50%;
    left: 50%;
    z-index: 50;
}
.stack{
    display: flex;
    flex-direction: column;
}

.controls{
    display: flex;
    justify-content:baseline;
    gap: 5px;
}

ul{
    margin: 20px;
}

fieldset{
    width: 200px;
    padding: 2px;
    border-radius: 5px;
}

/* 
.weather-component{
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 5%);
    max-width: 200px;
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
    border: 1px solid hsla(0, 0%, 20%);
    box-shadow: 0px 0px 5px hsla(0, 0%, 50%, .5);
    gap: 10px;
}

.weather-component button{
    border-radius: 20px;
    padding: 5px;
    background-color: hsl(0, 90%, 0%);
    border: 1px solid hsl(0, 0%, 40%);
    color: white;
    transition:  all .3s;

}

.weather-component button:hover{
    background-color: hsl(0, 0%, 40%);
}

.weather-component div{
    display: flex;
    flex-grow: 1;
    gap: 5px;
}

.weather-component .feels-like{
    color: gray;
    font-size: 0.9rem;
}
.weather-component button:active{
    background-color: white;
} */